<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">My Activity</h1>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <%= react_component("StandupsWrapper", { standups: Api::StandupsSerializer.new(@standups).as_json }) %>
  </div>
</section>
