<% if standups.empty? %>
  <div class="row">
    <div class="col">
      <p>No standups are available to display</p>
    </div>
  </div>
<% end %>
<% standups.each_slice(3) do |standups| %>
  <div class="row">
    <% standups.each do |standup| %>
      <div class="col-4">
        <div class="card standup-box" data-standup="<%= standup.id %>">
          <div class="card-header">
            <h3 class="card-title"><%= standup.standup_date %></h3>
          </div>
          <%= render partial: 'standups/standup', locals: {standup: standup} %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>