@import 'bootstrap-email';

.box.box-primary {
  border-top-color: #3c8dbc;
}

.box {
  position: relative; border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin: 20px 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.box-header {
  color: #444; display: block;
  padding: 10px; position: relative;
}

.box-header .box-title {
  display: inline-block; font-size: 18px; margin: 0; line-height: 1;
}

.box-body {
  border-top-left-radius: 0; border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}

.todo-list > li {
  border-radius: 2px;
  padding: 10px;
  background: #f4f4f4;
  margin-bottom: 2px;
  border-left: 2px solid #e6e7e8;
  color: #444;
}
